@font-face {
  font-family: 'Lato Black';
  src: url('assets/Lato-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }

@font-face {
  font-family: 'Lato Regular';
  src: url('assets/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }

html {
  font-size: 10px;
}
* {
  box-sizing: border-box;
}
.wrapper {
  max-width: 1020px;
  width: 1020px;
  justify-self: center;
  margin: auto;
  background-color: #2d303a;
}

.header{
  padding: 20px;
}
h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}

h1 {
  line-height: 18px;
  font-size: 3rem;
  color: #666d89;
  font-weight: 900;
  text-align: left;
}
.p_header {
  font-size: 1.8rem;
  color: #767e9e;
}

li {
  display: inline-block;
  border-radius: 15%;
  border: solid 1px #767e9e;
}

a {
  text-decoration: none;
  color: #767e9e;
  font-size: 1.2rem;
  transition-property: border, color;
  transition-duration: 0.01s;
  transition-timing-function: linear;
}

a:hover, a:focus {
  cursor: pointer;
  color: #fff;
  border-radius: 15%;
  border: solid 1px #fff;
}
