@font-face {
  font-family: 'Lato Black';
  src: url('assets/Lato-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }

@font-face {
  font-family: 'Lato Regular';
  src: url('assets/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }

html {
  font-size: 10px;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Lato Regular', Verdana, sans-serif;
  }
.wrapper {
  max-width: 1020px;
  width: 1020px;
  margin: auto;
}
.wrapper_port {
  padding: 40px;
  width: 1020px;
  height: 870px;
  background-color: #2d303a;
  border-bottom: solid 6px #323746;
}
.header {
  padding-top: 30px;
}


h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Lato";
  line-height: 18px;
  font-size: 3rem;
  color: #666d89;
  font-weight: 900;
  text-align: left;
  letter-spacing: -0.03rem;
}
.p_header {
  padding-top: 27px;
  font-size: 1.8rem;
  color: #767e9e;
  letter-spacing: -0.22px;
  height: 57px;
  line-height: 30px;
  text-align: left;
  font-weight: 300;
}

li {
  margin: 13px 10px 13px 0;
  display: inline-block;
}

.nav_link {

  border-radius: 5px;
  border: solid 1px #767e9e;
  padding: 2px 6px 3px 6px;
  text-decoration: none;
  color: #767e9e;
  letter-spacing: -0.02px;
  font-weight: 400;
  font-size: 1.2rem;
  transition-property: border-color, color;
  transition-duration: 0.01s;
  transition-timing-function: linear;
}


.nav_link:hover, .nav_link:focus {
  border-color: #fff;
  cursor: pointer;
  color: #fff;

}


.images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 18px;
  width: 940px;
  justify-items: center;
}

img {
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
}


.wrapper_about {
  height: 728px;
  background-color: #f2f2f2;
  border-bottom: solid 6px #ffffff;;
}
.three-column-layout {
  margin-left: 20px;
  padding: 43px 21px;
  display: flex;
  justify-content: space-evenly;
}
.person_first, .person_second, .person_third {
  width: 33.33%;
}
h2 {
  font-family: "Lato";
  line-height: 18px;
  font-size: 3rem;
  color: #666d89;
  font-weight: 900;
  text-align: left;
  letter-spacing: -0.03rem;
  padding: 70px 0 20px 40px;
}

h3 {
padding-top: 8px;
font-size: 1.8rem;
line-height: 18px;
color: #666d89;
font-family: "Lato";
font-weight: 900;
text-align: left;
}

 .p_description {
  padding: 8px 40px 30px 40px;
  font-size: 1.8rem;
  color: #767e9e;
  letter-spacing: -0.08px;
  height: 57px;
  line-height: 30px;
  text-align: left;
  font-weight: 300;
 }
.text_about {
width: 309px;
padding: 10px 0 5px 0;
font-size: 1.2rem;
line-height: 22px;
color: #767e9e;
font-family: "Lato";
font-weight: 400;
text-align: left;
}
.about_links {
  display: inline-flex;
  justify-content: space-between;
  width: 153px;
}
 .contacts {
   padding-top: 6px;
   display: inline-block;
 }
